/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;

}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: #b72076;
}

p {
    text-align: justify;
}

body {
    padding-top: 1px;
    display: grid;
    grid-template-rows: 300px 300px 750px 20px;
    grid-template-columns: 1fr;
    grid-gap: 3px;

}

/* form formulario */

#main-container {
    width: 530px;
    height: 630px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #be9749;
}

input[type="submit"] {
    background-color: #be9749;
    color: #f5f5f5;
    border: none;
    border-radius: 20px;
    height: 40px;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;

}

/* Validação */
.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template {
    display: none;
}

/* Navegação */
html, body {
    height: 100%;
    margin: 1px;
    }
    
    body{
    display: grid;
    grid-template-rows: 300px 360px 650px 40px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* marca e logo (bix1 = header)*/
    .box1 {
    background-color: rgb(14, 60, 29);
    grid-area: 1/1/2/4;
    width: 100%;
    }
    .interface{
    max-width: 1280px;
    margin: 0 auto;
    }
    
    .top-header{
    background-color: #224934;
    padding: 20px 4%;
    }
    
    .top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    
    .top-header .btn-social button{
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #d5e2e2;
    border: 2px solid #d5e2e2;
    cursor: pointer;
    }
    
    /*==== Inicio da navegação e menus =====*/
    
    .box2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/22.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-area: 2/1/3/4;
    }
    
    .box2 ul {
    list-style: none;
    
    }
    
    nav {
    background-color: rgb(14, 60, 29);
    width: 100%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .menu {
        margin-bottom: auto;
        padding: 30px;

    }
    
    .menu > li, .menu > a {
    display: inline-block;
    
    }
    
    .menu li {
    position: relative;
    }
    
    .menu a {
    text-decoration: none;
    color: rgba(209, 188, 52, 0.928);
    display: block;
    padding: 15px 1.5rem;
    transition: background-color .30s ease, color .30s ease;
    }
    
    .menu a:hover {
    background-color: #0d430cbd;
    color:  rgb(234, 212, 16);
}
    
    /* Submenu level 1 Styles */
    
.submenu {
    position: absolute;
    background-color: #0d430cbd;
    width: 190px;
    left: 5;
    display: none;
    margin: 1px;
}
    
    /* Submenu level 2 Styles */
.submenu2 {
    position: absolute;
    left: 100%;
    width: 180px;
    top: 0;
    background-color: #224934;
    display: none;
}
    /* Show menu on hover */
    
.menu li:hover > .submenu {
    display: block;
}
    
.submenu li:hover > .submenu2 {
    display: block;
}
    /* Fim Box 2 Navegação */

    /* Inicio Box 03 */
    .box3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #fff;
    
    }
        /* Fim Box 03 */
    
            /* Inicio Box 04 */
    
    .box4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #fff;
    
            
    }
        /* Fim box 04 */
    
        /* Inicio Box 05 */
    
    .box5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #fff;
    }
    
            /* Fim box 05 */
        
        /* Inicio Box 06 Rodape */
        
    .box6 {
        padding: 10px;
        background-color: #f5f5f5;
        background-position: left;
        grid-area: 4/1/5/4;
    }
    
        
        
        